aside {
    display: inline;
    float: left;
    min-width: none;
    min-height: 500px;
}
aside label {
    display: block;
}

#forecast-cards div {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: black;
}