aside {
    display: inline;
    float: left;
    min-width: 200px;
    min-height: 500px;
}
aside label {
    display: block;
}

.search-history .search-button {
    display: block;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    background-color: navy;
    color: white;
}

#forecast-cards div {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: black;
}